:host {
  display: block;
}

.sidebar {
  width: 220px;
  background: var(--bg-secondary);
  height: 100%;

  padding: 20px;
  border-right: 1px solid var(--border-color);
}

.sidebar a {
  display: block;
  padding: 12px 15px;
  margin-bottom: 10px;

  color: var(--text-muted);
  text-decoration: none;
  border-radius: 6px;

  transition: 0.2s;
}

.sidebar a:hover {
  background: var(--blue-main);
  color: white;
  cursor: pointer;
}

.active {
  background: var(--blue-main);
  color: white !important;
}
