<div class="sidebar">
  <a
    *ngIf="auth.getRole() === 1 || auth.getRole() === 5"
    routerLink="/applications"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    📝 Applications
  </a>

  <a
    *ngIf="auth.getRole() === 2 || auth.getRole() === 5"
    routerLink="/verification"
    routerLinkActive="active"
  >
    ✅ Verification
  </a>

  <a
    *ngIf="auth.getRole() === 4 || auth.getRole() === 5"
    routerLink="/finance"
    routerLinkActive="active"
  >
    💰 Finance
  </a>

  <a routerLink="/settings" routerLinkActive="active"> ⚙ Settings </a>
</div>
