.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.form-card {
  width: 500px;
  background: var(--bg-secondary);
  border: 1px solid var(--border-color);
  padding: 30px;
  border-radius: 10px;
}

.form-card h2 {
  margin-bottom: 20px;
  color: var(--blue-light);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 150px;
  color: var(--text-muted);
}

.form-group input,
.form-group select {
  flex: 1;
  padding: 10px;
  background: var(--bg-main);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: var(--text-main);
}

button {
  width: 100%;
  padding: 12px;
  background: var(--blue-main);
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form-group input[type='date'] {
  cursor: pointer;
}

.form-group select {
  cursor: pointer;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: var(--blue-main);
}

/* 🔥 GLOBAL ERROR BOX */
.error-box {
  width: 500px;
  margin-top: 15px;
  padding: 12px 16px;

  background: #ff000420;
  border: 2px solid #ff00047e;
  border-radius: 8px;

  color: #ff0004;
  font-size: 14px;
}

.error-box p {
  margin: 4px 0;
}
